<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>gdps-server</title>
</head>

<body style="display: flex; align-items: center; gap: 1.5em; flex-direction: column">
    <h1 style="display: flex; align-items: center; gap: 1em">
        <img src="/favicon.png" width="64" height="auto">
        gdps-server
    </h1>
    <div class="block">
        <p>
            <b>gdps-server</b> is a WIP <a href="https://store.steampowered.com/app/322170/Geometry_Dash/" target="_blank" rel="noreferrer noopener">Geometry Dash</a> private server written in <a href="https://rust-lang.org/" target="_blank" rel="noreferrer noopener">Rust</a>.
        </p>
        <p>
            You can check out other shit here:
            <br>
            <el>
                <li>The <a href="https://git.reidlab.online/reidlab/gdps-server">Git repository</a></li>
            </el>
        </p>
    </div>
    <div class="dim">
        {{ silly_string }}
    </div>
</body>

</html>